*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    justify-content: center;
    align-items: center;
    display: flex;
    /* margin-top: 200px; */
    height: 100vh;
}

.box{
    width: 200px;
    height: 200px;
    background-color: red;
transition: 1s;
}
.box:hover{
  ;
}